[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
autopep8 = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.8"
